@page "/estoque"
@using PDV.Data

@inject ProdutoService service

<PageTitle>Estoque</PageTitle>

<div class="text-center">
    <h1>Distribuidora Império das Bebidas</h1>
</div>

<h1>Estoque de Produtos</h1>

<p></p>

@if (produtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Marca</th>
                <th>Volume</th>
                <th>Peso</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
@*                    <td>@produto.Date.ToShortDateString()</td>*@
                    <td>@produto.Nome</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Marca</td>
                    <td>@produto.Volume</td>
                    <td>@produto.Peso</td>
                    <td>@produto.Preco</td>
                    <td>@produto.Quantidade</td>
                    <td>@produto.Data</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private Produto[]? produtos;
    List<Produto> produtos = new List<Produto>();

    protected override async Task OnInitializedAsync()
    {
        produtos = await service.GetProdutosAsync();
    }
}
