@page "/"

@using PDV.Shared.Components
@using PDV.Data

@inject NavigationManager NavManager
@inject ProdutoService service

<PageTitle>Index</PageTitle>



<div class="p-3 mb-3 text-white text-center"><img src="logo.png" /></div>

<div class="form-group">
@*    <label for="name"></label>
    <input type="text" id="nome" class="form-control" @bind-value="@ChooseProduct.Nome" @onkeyup="(() => GetProdutoByNome())"/>

    @onchange="@CallService"

*@
    <select class="form-select" aria-label="Default select example" @onchange="@GetTable">

        <option value=0>Escolha uma mesa</option>
        @for (int i=1;i<=5;i++)
        {
                <option value="@i">Mesa @i</option>
        }
    </select>

</div>

<div><p>Mesa selecionada: @mesa</p></div>
<br />
<div><p>Mesa selecionada: @mesaSel</p></div>

<div class="text-center p-3 mb-3">
    <button class="btn btn-info" @onclick="@CallOpen">Abri Caixa</button>
    <button class="btn btn-info" @onclick="@CallClose">Fechar Caixa</button>
    <button class="btn btn-info" @onclick="@CallBleed">Sangria</button>
    <button class="btn btn-info" @onclick="@CallList">Histórico</button>
    <button class="btn btn-info" @onclick="@CallService">?????</button>
</div>


@code {


    string? mesa;
    string? mesaSel = "Nenhuma ainda";

    //Console.WriteLine(mesa);

    private void GetTable(ChangeEventArgs e)
    {
        mesa = e.Value.ToString();
        switch (mesa)
        {
            case "1":
                mesaSel = "1";
                break;
            case "2":
                mesaSel = "2";
                break;
            case "3":
                mesaSel = "3";
                break;
            case "4":
                mesaSel = "4";
                break;
            case "5":
                mesaSel = "5";
                break;
            default:
                mesaSel = "Escolha a mesa";
                break;
        }

    }


    private void CallOpen()
    {
        NavManager.NavigateTo($"/venda/{mesaSel}");
    }

    private void CallClose()
    {
        NavManager.NavigateTo($"/venda/{mesaSel}");
    }

    private void CallBleed()
    {
        NavManager.NavigateTo("/cadastro");
    }

    private void CallList()
    {
        NavManager.NavigateTo("/estoque");
    }

    private void CallService()
    {
        
    }
}

