@page "/"

@using PDV.Shared.Components
@using PDV.Data


<PageTitle>Index</PageTitle>

@inject ProdutoService service

<div class="p-3 mb-3 text-white text-center"><img src="logo.png" /></div>

<div class="form-group">
@*    <label for="name"></label>
    <input type="text" id="nome" class="form-control" @bind-value="@ChooseProduct.Nome" @onkeyup="(() => GetProdutoByNome())"/>
*@
    <select class="form-select" aria-label="Default select example" @onchange="@CallService">

        <option value=0>Escolha uma mesa</option>
        @for (int i=1;i<=5;i++)
        {
                <option value="@i">Mesa @i</option>
        }
    </select>

</div>

<div><p>Mesa selecionada: @mesa</p></div>
<br />
<div><p>Mesa selecionada: @mesaSel</p></div>

<div class="text-center p-3 mb-3">
    <button class="btn btn-info" @onclick="(() => GetProdutoByNome())">Abri Caixa</button>
    <button class="btn btn-info" @onclick="(() => GetProdutoByNome())">Fechar Caixa</button>
    <button class="btn btn-info" @onclick="(() => GetProdutoByNome())">Sangria</button>
    <button class="btn btn-info" @onclick="(() => GetProdutoByNome())">Histórico</button>
    <button class="btn btn-info" @onclick="(() => GetProdutoByNome())">?????</button>
</div>


@code {
    List<Produto> Produtos = new List<Produto>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshProducts();
    }

    private async Task RefreshProducts()
    {
        Produtos = await service.GetProdutosAsync();
        //Produtos = await service.GetProdutoByNomeAsync();
    }

    private async Task RefreshProductByNome(string nome)
    {
        Produtos = await service.GetProdutoByNomeAsync(nome);
    }

    Produto ChooseProduct = new Produto();
    private async Task GetProdutoByNome()
    {
        //ChooseProduct = produto;
        await RefreshProductByNome(ChooseProduct.Nome);
    }

    public Produto NewProduct { get; set; } = new Produto();
    private async Task AddNewProduct()
    {
        await service.AddProdutoAsync(NewProduct);
        NewProduct = new Produto();
        await RefreshProducts();
    }
    Produto UpdateProduct = new Produto();
    private void SetProductForUpdate(Produto produto)
    {
        UpdateProduct = produto;
    }
    private async Task UpdateProductData()
    {
        await service.UpdateProdutoAsync(UpdateProduct);
        await RefreshProducts();
    }
    private async Task DeleteProduct(Produto produto)
    {
        await service.DeleteProdutoAsync(produto);
        await RefreshProducts();
    }


    string? mesa;
    string? mesaSel = "Nenhuma ainda";

    //Console.WriteLine(mesa);


    private void CallService(ChangeEventArgs e)
    {
        mesa = e.Value.ToString();

        Console.Write(mesaSel);

        switch (mesa) {
            case "1":
                mesaSel = "1";
                break;
            case "2":
                mesaSel = "2";
                break;
            case "3":
                mesaSel = "3";
                break;
            case "4":
                mesaSel = "4";
                break;
            case "5":
                mesaSel = "5";
                break;
            default:
                mesaSel = "Escolha a mesa";
                break;
        }
    }
}

